---
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
import HeroHeader from '../components/HeroHeader.astro';
import AlbumCard from '../components/AlbumCard.astro';
import ConcertCard from '../components/ConcertCard.astro';
---

<Layout title="Mike Merchant">
  <main>
    <HeroHeader />
    <AlbumCard />
    <ConcertCard />
    <FeedbackForm />
  </main>
</Layout>

<style>
  :root {
    text-align: center;
  }
  .logo img {
    padding: 30px 0;
    width: 100%;
  }
</style>
